@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

:root {
  --pink: #f3d7d1;
  --yellow: #f0b63d;
  --white: #F5f5f5;
  --green: #0c593d;
}

body {
  margin: 0;
  font-family: 'Lato', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
